#name {
    color: #eeeeee;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18pt;
    font-weight: bold;
}

.navbar {
    font-size: 14pt;
}

.navbar-brand {
    background-color: #4aaaa5;
}