body {
    background-image: url("/Users/Parker/src/basic-portfolio/assets/images/gravel/gravel.png");
    margin: 0px;
}

.btn {
    color: #eeeeee;
    background-color: #4aaaa5;
}

.caption {
    
}

footer {
    background-color: #666666;
    border-top: 5px;
    border-style: solid;
    border-color: #4aaaa5;
    border-left: 0;
    border-bottom: 0;
    border-right: 0;
    color: #dddddd;
    margin-top: 10%; 
    padding-top: 2%; 
    text-align: center;
}

#name {
    color: #eeeeee;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 23pt;
    font-weight: bold;
}


.navbar {
    font-size: 14pt;
    padding-left: 234px;
    padding-right: 234px; 
}

.navbar-brand {
    background-color: #4aaaa5;
}

p {
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    line-height: 250%;
}

.panel {
    margin-top: 150px;
    margin-right: 234px;
    margin-bottom: 150px;
    margin-left: 234px;
}

#portrait {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 0;
    padding-right: 1%;
    vertical-align: text-top;
    width: 260px;
}

.subject {
    color: #4aaaa5;
    font-family: Georgia,'Times New Roman', Times, serif;
    font-weight: bold;
    padding-top: 1%;
    margin-top: 1%; 
    margin-bottom: 1%;
}



.thumbnail {
    color: #ffffff; 
}

.thumbnail .caption {
    color: #ffffff; 
    background-color: #4aaaa5;
    font-size: 14pt;
    margin-top: 0px;
    text-align: center;
}



